<nav class="navbar navbar-inverse navbar-fixed-top">
  <%= link_to 'Darkonnen', root_path, class: 'navbar-brand' %>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Crear Compañía', new_company_path %></li>
        <li><%= link_to 'Crear Área', new_area_path %></li>
      </ul>
    </div>
  </div>
</nav>
